/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2e854f;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #4db6ac;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

/* Override footer style */
[data-theme='light'] .footer--dark {
  --ifm-footer-background-color: #0a413a;
}

[data-theme='dark'] .footer--dark {
  --ifm-footer-background-color: #00201c;
}

/* Main page */
[data-theme='dark'] .hero--primary {
  background-color: #00201c;
}

.hero {
  color: white;
  height: 500px;
}

.hero__title {
  font-size: 6rem;
}

.hero__subtitle {
  font-size: 3rem;
}

/* Override button styling */
[data-theme='light'] .button {
  padding: 0.2rem 0.6rem;
  color: white;
  background-color: transparent;
  border: white 2px solid;
}

[data-theme='light'] .button:hover {
  color: black;
  background-color: white;
}

[data-theme='dark'] .button:hover {
  color: white;
  background-color: black;
}

[data-theme='dark'] .button {
  padding: 0.2rem 0.6rem;
  color: white;
  background-color: transparent;
  border: white 2px solid;
}
